@charset "UTF-8";
footer, article, header {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  background: #ccc;
}

h2 {
  text-align: center;
}

h1 {
  visibility: hidden;
  position: absolute;
}

article {
  background: #282d37;
  color: #bbbbbb;
}

article a {
  color: #bbbbbb;
}

article a:hover {
  color: #e55658;
}

header {
  background: #171a20;
  border-radius: 0 0 10px 10px;
}

header p {
  padding: 10px 20px;
  text-align: justify;
  font-size: 1.2em;
}

header h2 {
  padding: 10px 0;
}

ol li {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  list-style-type: none;
  border-bottom: 2px dashed #171a20;
  padding: 10px 0;
  font-size: 1.5em;
}

ol li::first-letter {
  color: #e55658;
}

section p {
  padding: 10px 20px;
  font-size: 1.2em;
  text-align: justify;
}

nav {
  background: #171a20;
  color: #bbbbbb;
  border-bottom: 2px solid #e55658;
}

nav h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}

nav h2:after, nav h2:before {
  content: '↓';
  width: 100px;
  height: 100px;
}

nav ul {
  height: 0;
  overflow: hidden;
}

nav:hover ul {
  height: 100%;
}

nav:hover ul h2 {
  color: #e55658;
}

nav ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: calc((100%/3) - 6px);
  padding: 10px 0;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #bbbbbb;
}

nav ul li a:hover {
  color: #e55658;
}

nav ul li:nth-child(odd) {
  background: #282d37;
}

nav ul li:nth-child(even) {
  background: #171a20;
}

footer {
  background: #171a20;
  color: #bbbbbb;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  text-decoration: none;
  color: #e55658;
}

@media (max-width: 600px) {
  footer, article, header {
    width: 100%;
  }
}

@media (max-width: 890px) {
  nav ul li {
    width: calc((100%/2) - 2px);
  }
}

@media (max-width: 550px) {
  nav ul li {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #bbbbbb;
  height: 100vh;
}
