@font-face {
    font-family: Montserrat; 
    src: url(../font/Montserrat-Medium.ttf);
   }

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    background-color: #f1f1f1;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.link-example {
    width: 40vw;
    height: 300px;
    background-color: #D81A1A;
    opacity: 0.7;
    margin: 40px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #fff;
    box-shadow: 0px 3px 65px -5px rgba(0,0,0,0.75);
    transition: 0.45s; 

    &:hover {
        opacity: 0.75;
        font-size: 6em;
        box-shadow: 0px 3px 100px -5px rgba(0,0,0,0.75);
        text-shadow: 0px 3px 100px -5px rgba(0,0,0,0.75);
    }
}

a {
    text-decoration: none;
}

.gap {
    height: 50vh;
}

@media screen and (max-width: 800px) {
    .link-example {
        min-width: 80vw;
    }
  }