@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  background-color: #f1f1f1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link-example {
  width: 40vw;
  height: 300px;
  background-color: #D81A1A;
  opacity: 0.7;
  margin: 40px 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5em;
  color: #fff;
  -webkit-box-shadow: 0px 3px 65px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 65px -5px rgba(0, 0, 0, 0.75);
}

a {
  text-decoration: none;
}

.spacer {
  height: 50vh;
}

@media screen and (max-width: 800px) {
  .link-example {
    min-width: 80vw;
  }
}
