@media screen and (max-width: 830px) {

  .mobile_menu_btn {
    display: block;

    & i img.mobile_menu_img {
      height: 2em;
    }

    &:hover ~ .menu {
      display: block;
    }
  }

  .menu {
    display: none;
  }

  nav {
    width: 100%;
    background: $gray;
  }

}