@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Medium.ttf);
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

header a {
  text-decoration: none;
  color: #111;
  font-size: calc(1.2vw + .1vh + .1vmin);
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

header .logo img {
  width: 50%;
}

header .header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

header .header_info div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile_menu_btn {
  display: none;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #34495e;
  color: #fff;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  z-index: 9;
}

.nav_elem {
  display: block;
  position: relative;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  font-size: calc(1vw + .1vh + .5vmin);
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.nav_elem:hover {
  background: #2f4153;
}

.nav_elem:hover .sub_menu {
  display: block;
}

.sub_menu {
  position: absolute;
  margin: 20px 0 0 -20px;
  display: none;
  border: 2px solid #2f4153;
}

.sub_menu li {
  position: relative;
  background: #34495e;
  padding: 10px 20px;
  min-width: 150px;
  list-style-type: none;
}

.sub_menu li:hover {
  background: #2f4153;
}

.sub_menu li:hover ul {
  display: block;
}

.sub_menu a {
  text-decoration: none;
  color: #fff;
}

.sub_menu li ul, .sub_menu li ul li .sub_menu_lvl2 {
  position: absolute;
  left: 100%;
  top: 0;
  border: 2px solid #2f4153;
  display: none;
}

.sub_menu li:hover ul,
.subMenu li ul, .sub_menu li ul li:hover .sub_menu_lvl2 {
  display: block;
}

.galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #edeff1;
  padding: 20px 0;
  border-radius: 5px;
  margin: 10px 0;
}

.galery .galery_part {
  width: calc((100%/3) - 8%);
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
}

.galery .galery_part img {
  width: 100%;
  height: auto;
}

.galery .galery_part p {
  position: absolute;
  bottom: 0;
  padding: 2px 5px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.galery .galery_part:hover p {
  font-size: 1.5em;
  text-align: center;
}

h3 {
  width: 100%;
  text-align: center;
}

.slider_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider input[type="radio"] {
  position: absolute;
  opacity: 0;
  bottom: 0;
}

.slider_nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.control {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.control:hover {
  cursor: pointer;
  background: rgba(26, 188, 156, 0.5);
}

.slides {
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slides .slide {
  width: 25%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slides .slide img {
  width: 100%;
  height: auto;
}

#r1:checked ~ .slides {
  margin-left: 0;
}

#r1:checked ~ .slider_nav .c1 {
  background: rgba(26, 188, 156, 0.7);
}

#r2:checked ~ .slides {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

#r2:checked ~ .slider_nav .c2 {
  background: rgba(26, 188, 156, 0.7);
}

#r3:checked ~ .slides {
  margin-left: -200%;
}

#r3:checked ~ .slider_nav .c3 {
  background: rgba(26, 188, 156, 0.7);
}

#r4:checked ~ .slides {
  margin-left: -300%;
}

#r4:checked ~ .slider_nav .c4 {
  background: rgba(26, 188, 156, 0.7);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -10%;
  left: 0;
  background: #34495e;
  width: 100%;
  color: #fff;
}

footer div {
  padding: 20px 0;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
}

footer .socials i img {
  height: 1.5em;
  padding-right: 2em;
}

footer .copywrite {
  padding-left: 2em;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #1f1f1f;
}

form {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.input_btn {
  background: #1abc9c;
  color: #fff;
  border: none;
  width: 50%;
}

.input_btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 830px) {
  .mobile_menu_btn {
    display: block;
  }
  .mobile_menu_btn i img.mobile_menu_img {
    height: 2em;
  }
  .mobile_menu_btn:hover ~ .menu {
    display: block;
  }
  .menu {
    display: none;
  }
  nav {
    width: 100%;
    background: #34495e;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

html {
  width: 100%;
}

.wraper {
  width: 90vw;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

picture img {
  width: 100%;
  margin-top: 30px;
}

h1 {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  text-align: center;
}

@media screen and (max-width: 830px) {
  .header_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header_info .phone, .header_info .mail {
    width: 100%;
  }
  .galery .galery_part {
    width: calc((100%/2) - 4%);
  }
  .wraper {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .galery .galery_part {
    width: 100%;
    margin-top: 50px;
  }
  .galery .galery_part a {
    width: 100%;
  }
  footer .socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input {
    width: 100%;
  }
}
